
body {
    margin: 0;
}

/* header */
#headinglist {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-top: 20px;
    padding-right: 50px;
    gap: 40px;
}

.navigation-button {
    border-radius: 500px;
    background-color: orangered;
    padding: 10px;
}

/* main */
#headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid white;
    border-radius: 5px;
    width: 40%;
    height: 400px;
    padding: 30px;
    padding-bottom: 10px;
    background-color: lightslategray;
}

.card-text {
    width: 40%;
    padding-right: 10px;
}

.card-content {
    display: flex;
}


/* footer */
footer {
    background-color: lightslategray;
    padding: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}