
main {
    margin: 50px;
}

#headinglist {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#GamesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

p {
    min-width: 600px;
    max-width: 800px;
}
